<div class="ypm-extension container font-base">
  <div class="row underlined">
    <div class="col-xs-12">
      <div id="yoti-save-title" class="text-center font-base-size-18 save-login-header">
        Save Login Details
      </div>
    </div>
  </div>
  <form>
    <div class="form-group padding-bottom-16">
      <label htmlFor="name" class="control-label secret-title">Name</label>
      <input type="text" id="name" class="ypm-extension form-control" spellcheck="false" value="" />
      <div class="error-message" style="visibility: hidden; margin-top: -8px">
        <span class="help-block"></span>
      </div>
    </div>
    <div class="form-group padding-bottom-16">
      <label htmlFor="site_url" class="control-label secret-title">URL</label>
      <input
        type="text"
        id="site_url"
        class="ypm-extension form-control"
        spellcheck="false"
        value=""
      />
      <div class="error-message" style="visibility: hidden; margin-top: -8px">
        <span class="help-block"></span>
      </div>
    </div>
    <div class="form-group padding-bottom-16">
      <label htmlFor="username.value" class="control-label secret-title">Username</label>
      <input
        type="text"
        id="username.value"
        class="ypm-extension form-control"
        spellcheck="false"
        value=""
      />
      <div class="error-message" style="visibility: hidden; margin-top: -8px">
        <span class="help-block"></span>
      </div>
    </div>
    <div class="form-group padding-bottom-16">
      <label htmlFor="password.value" class="control-label secret-title">Password</label>
      <input
        type="password"
        id="password.value"
        class="ypm-extension form-control"
        spellcheck="false"
        value=""
        disabled
      />
      <div id="save-secret-show-hide-pwd-btn" class="save-secret-password-show"></div>
    </div>
    <div class="form-group padding-bottom-16">
      <div class="togglebutton save-secret-toggle-button">
        <label>
          Fill in this login for me
          <input id="save-secret-autofill-toggle" checked="checked" type="checkbox" value="" />
          <span class="toggle"></span>
        </label>
      </div>
    </div>
    <div class="form-group padding-0">
      <div>
        <button id="yoti-secret-save" class="btn btn-primary-1 full-field-width">SAVE LOGIN</button>
      </div>
    </div>
    <div class="form-group padding-0">
      <div class="padding-top-10 padding-bottom-10">
        <button id="yoti-secret-cancel" class="btn btn-primary-2 full-field-width">CANCEL</button>
      </div>
    </div>
  </form>
</div>
