<div id="yoti-message-warning" class="ypm-extension">
  <div class="pull-left bar-text">
    <button id="yoti-dismiss-btn" class="btn dismiss-button" style="margin-right: 5px">
      <div class="icon icon-dismiss-dark"></div>
    </button>
    <div class="pull-left icon-error-message"></div>
  </div>
  <div id="yoti-message-warning-text" class="error-message-warning-text">
    Login details could not be saved
    <div id="yoti-message-secondary-warning-text">Please try again.</div>
  </div>
</div>
